*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:tomato;
    --secondary-color:#30201c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;
    --site-max-width:1300px;
}

html{
    scroll-behavior: smooth;
    font-size: 62.50%;
}

body{
    background-color: var(--white-color);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-color);

}

nav{
    display: flex;
    padding: 15px 0 15px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--site-max-width);
}

nav .nav-logo a {
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
}

nav .nav-logo a img{
    max-width: 55px;
    border-radius: 50%;

}

nav .nav-logo h2{
    color: var(--white-color);
    font-weight: 600;
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav ul li a{
    display: block;
    padding: 10px 25px ;
    font-size: 1.5rem;
    font-weight: 50%;
    color: var(--white-color);
    border-radius: 30px;
    transition: all 0.2s ease;
    text-decoration: none;

}

nav ul li a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

nav label{
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

#click{
    display: none;
}

label .menu-btn,
label .close-btn{
    display: none;
}
/* -----------------------------------
hero section */

.section-container{
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top:85px;
    min-height: calc(100 - 85px);
    justify-content: space-between;
}

.hero-container .text-section h2 {
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.hero-container .text-section h3{

    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 20px;

}

.hero-container .text-section p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white-color);
    max-width: 70%;
    margin-top: 20px;
    
}

.hero-container .hero-section-button{
    display: flex;
    gap: 24px;
    margin-top: 20px;

}

.hero-container .hero-section-button .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 58px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: all 0.4s;

}

.hero-container .hero-section-button .button:last-child{
    color: var(--white-color);
    border-color: var(--white-color);
    background: none;
}

.hero-container .hero-section-button .button:first-child:hover{
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
}

.hero-container .hero-section-button .button:last-child:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.hero-container .image-section {
    max-width: 45%;
}

.hero-container .image-section img{
    width: 100%;
}

/* <!-- -----------------------------------
about us section  --> */

.section-tittle{
    text-align: center;
    padding: 68px;
    font-size: 2rem;
    text-decoration: uppercase;
}

.section-tittle::after{
    content: "";
    width: 80px;
    height: 5px;
    background: var(--secondary-color);
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}


.about-us{
    padding: 68px 20px  120px;
    background: var(--light-gray-color);
}

.about-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.about-container .text-section{
    max-width: 50%;
}

.about-container .text-section p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.about-container .image-section{
    max-width: 45%;
}
.about-container .image-section img{
    max-width: 100%;
}


/* <!-- -------------------------------------
service section  --> */

.services {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 60px 20px 120px;

}

.services .section-container{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    flex-wrap: wrap;
}
.section-container .service-items{
    width: 300px;
}


.section-container .service-items img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.section-container .service-items {
    width: calc(100% / 3 -120px);

}

.service-items .service-text{
    text-align: center;
}

.service-items .service-text h3{
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.service-items .service-text p{
    font-size: 1rem;
}

/* <!-- -------------------------------------
     why us  --> */

 .why-us{
    background: var(--light-gray-color);
    padding: 60px 20px 120px;
 }

 .why-us .why-container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
 }

 .why-container .why-items img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;

 }

 .why-container .why-items{
    width: calc(100% / 3 - 80px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
 }

 .why-items .why-us-text{
    text-align: center;
 }

 .why-items .why-us-text h3{
    margin: 20px 0;
    font-size: 1.5rem;
 }

 .why-items .why-us-text p{
    font-size: 1rem;
 }

 /* <!-- -----------------------------------
 Gallery section  --> */

 .gallery {
    background: var(--white-color);
    padding: 60px 20px 120px;

 }

 .gallery .gallery-container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
 }

.gallery-container .gallery-items{
    width: calc(100% / 3 - 32px);
    overflow: hidden;
    border-radius: 8px;
}

.gallery .gallery-container img{

    width: 100%;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.gallery-container .gallery-items:hover img{
    transform: scale(1.3);
}

/* <!-- -----------------------------------
contact us --> */

.contact{
    background: var(--light-gray-color);
    padding: 60px 20px 100px;
}

.contact-container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.contact-container .contact-form{
    max-width: 65%;
    width: 100%;
}

.contact-container .contact-form .field {
    margin: 20px 0;

}

.contact-container .contact-form .field  label {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 8px;
}


.contact-container .contact-form .field input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-container .contact-form textarea{
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.contact-container .contact-form button{
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.4s ease;

}

.contact-container .contact-form button:hover{
    color: var(--primary-color);
    background: transparent;
    border-color: var(--primary-color);
}


.contact-text .contact-items{
    display: flex;
    gap: 20px;
    margin: 80px 0;

}

.contact-text .contact-items i{
    font-size: 2rem;
    margin-top: 5px;

}

/* -----------------------------------
     <!-- footer section  --> */

 footer{
    background: #1b1b1b;
    color: var(--white-color);
    padding: 60px 20px;


 }

 .footer-section{
    display: flex;
    justify-content: space-between;
    
 }

 .footer-section h3{
    font-size: 1.5rem;
    margin-top: 16px;
    font-weight: 600;
 }

 .footer-section .footer-logo a{
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--white-color);
 }

 .footer-section .footer-logo a img{
    border-radius: 50px;
    max-width: 55px;
 }

 .footer-section .footer-logo a h2{
    font-weight: 600;
 }

 .footer-section .useful-links ul li{
    margin: 20px 0;
    list-style: none;
 }

 .footer-section .useful-links ul li a{
    color: var(--white-color);
    font-size: 1.1rem;
    text-decoration: none;
   

 }

 .footer-section .contact-us ul li{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .footer-section .contact-us ul li i{
    font-size: 1.7rem;

 }

 .footer-section .contact-us ul li {
    font-size: 1.1rem;

 }

 .footer-section .follow-us i{
    font-size: 1.5rem;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.5 ease;

 }

 .footer-section .follow-us i:hover{
    color: var(--primary-color);

 }
 

 @media screen and (max-width:1024px){
    nav{
        padding: 15px 20px;

    }

    nav ul{
        display: block;
        background: var(--white-color);
        position: absolute;
        top: 75px;
        left: -100%;
        overflow: auto;
        width: 100%;
        text-align: center;
        transition: all 0.15s ease;
    }

    #click:checked.close-btn{
        display: block;
    }

    #click:checked~label .menu-btn{
        display: none;
    }

    nav ul li{
        display: block;
        padding: 8px 12px;
        width: 48px;
        margin: 24px auto;
    }

    nav ul li a{
        color: var(--dark-color);
    }

    .hero-container{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 32px;
    }

    .hero-container .image-section{
        max-width: 100%;
        text-align: center;
    }

    .hero-container .image-section img{
        max-width: 90%;
        align-items: center;
    }

    .hero-container .text-section{
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hero-container .text-section p{
        max-width: 100%;

    }

    .about-container {
        flex-direction: column;
    }

    .about-container .text-section{
        max-width: 100%;
    }

    .services .section-container{
        gap: 50px;
    }

    .section-container .service-items{
        width: calc(100% / 2 - 50px);
    }

    .why-us .why-container{
        gap: 50px;
    }

    .why-container .why-items{
        width: calc(100% / 2 - 50px);
    }

    .gallery .gallery-container{
        justify-content: center;

    }

    .gallery-container .gallery-items{
        width: calc(100% / 2 - 50px);
    }

    .contact-container{
        flex-direction: column-reverse;
    }

    .contact-text .contact-form{
        margin: 25px 0;
    }

    .contact-container .contact-form{
        max-width: 100%;


    }

    .footer-section {
        flex-direction: column;
        gap: 24px;
    }

    .footer-section .useful-links{
        text-align: start;
    }

 }


 @media screen and (max-width:576px){
    .section-tittle{
        padding: 50px 0;
    }

    nav .nav-logo a img,
    .footer-section .footer-logo a img {
        max-width: 45px;

    }

    nav .nav-logo h2{
        font-size: 2rem;
    }

    .hero-container{
        justify-content: space-evenly;
    }
    
    .hero-container .text-section h2{
        font-size: 2rem;
    }

    .hero-container .text-section h3{
        font-size: 1.5rem;
    }

    .hero-container .image-section img{
        max-width: 80%;

    }

    .hero-container .text-section p{
        font-size: 1.1rem;

    }

    .about-container .image-section{
        max-width: 70%;
    }

    .button{
        padding: 10px 20px !important;
        font-size: 1rem !important;
    }

    .section-container .service-items,
    .why-container .why-items{
        width: 100%;
        text-align: center;
    }

    .gallery-container .gallery-items{
        flex-direction: column;
        width: 100%;
    }

    .services .section-container, .why-us .why-container{
        gap: 70px;
    }

    .section-container .service-items img{
        max-width: 80%;
    }

}























